<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ./templates/header.ejs %>
        <!--Insert custom head content below-->
</head>

<body>
    <div class="row">
        <form action="./thumbnail" method="get" class="col s3">
            <div class="row">
                <div class="input-field col s12">
                    <input id="url" name="url" type="text" class="validate">
                    <label for="url">URL</label>
                </div>
            </div>
        </form>
    </div>
</body>

</html>