<title>
    <%=title%>
</title>
<meta charset="UTF-8">
<meta name="description" content="A Node based forum">
<!--TODO^ have this use content from a post or default to set data-->
<meta name="author" content="Jacob Gee-Clarke">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--JQUERY-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!--MATERIALIZE CSS/JS-->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<!--Fontawesome-->
<script src="https://use.fontawesome.com/8f1c957fcd.js"></script>