<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../templates/header.ejs %>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <!--Insert custom head content below-->
</head>

<body>
    <%- include ../templates/nav.ejs %>

        <br>
        <div class="row">
            <form id="signinForm" method="POST" action="/user/signin" class="col s12 m6 offset-m3">
                <blockquote>
                    <h3>Sign in to awesome!</h3>
                </blockquote>
                <div class="row">
                    <div class="input-field col s12">
                        <input required name="username" type="text" class="valnameate">
                        <label for="username">Username/Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input required name="password" type="password" class="valnameate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="<%=csrf%>">
                <div class="row">
                    <div class="input-field col s12">
                        <button class="g-recaptcha btn waves-effect waves-light" data-sitekey="6LeaGxkUAAAAAHvFZALsEfZaN7xo39N03Kqs9FEu" data-callback="onSubmit">
Submit
                    <i class="material-icons right">send</i>
</button>
                        <br><br><a href="/user/signup">Don't have an account? Click here</a>
                    </div>
                </div>
            </form>
        </div>
        </div>
        </div>
        <%- include ../templates/footer.ejs %>
            <script>
                function onSubmit(token) {
                    document.getElementById("signinForm").submit();
                }
            </script>
</body>

</html>